<!-- <ul class="nav justify-content-end custom">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/login" (click)="logout()" class="nav-link">logout</a>
    </li>
    <button class="btn btn-dark"> bootstrap</button>
  </ul> -->

  <ul class="navbar navbar-dark bg-dark custom">
    <li>
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/login" (click)="logout()" class="nav-link">logout</a>
    </li>
  </ul>

  <!-- <div>
    testing {{name}} and {{username}}
  </div> -->

  